{% extends 'base.html.twig' %}

{% block title %}Charaktererstellung{% endblock %}

{% block body %}

    <h1>Charaktererstellung erfolgreich!</h1>

    <p>Falls du grundsätzliche Fragen zur Spielweise von Narutogame hast, so ist dir angeraten dich an die Support-Administratoren zu wenden.</p>
    <p>Bei Fragen, die deine Charaktergeschichte, dein Charakterbild oder deine Charakterbeschreibung betreffen helfen dir die Game-Moderatoren weiter.</p>
    <p>Falls du noch ein Neuling in Sachen Rollenspiel bist, können dir erfahrene User oder die Support-Cos einen Einstieg in das Rollenspiel in Narutogame bieten.</p>
    <p>Solltest du dennoch Fragen haben, diese aber nicht in die vorher genannten Bereiche passen, so solltest du dich auch an die Support-Administratoren wenden, sie helfen dir dann entweder direkt oder können dich an die richtige Stelle weiterleiten.</p>
    <p>Wer die entsprechenden Posten momentan innehat findest du unter <a href='/Infos.php?info=Mods'>diesem Link</a>.</p>
    <p>Falls du keine Fragen oder Hilfestellungen benötigst kannst du <a href='/Center.php'>hier</a> weiter machen.</p>

{% endblock %}
