{% extends "base.html.twig" %}

{% block title %}Entwicklerupdates{% endblock %}

{% block body %}

    <h1>Entwicklerupdates</h1>

    {% for post in posts %}
        <article class="card mb-5 shadow">
            <div class="card-header">
                <div>
                    <span class="badge text-bg-secondary">{{ post.type }}</span> Veröffentlicht {{ post.date }}
                </div>
                <h2>{{ post.title }}</h2>
            </div>

            <div class="card-body">
                {{ post.content|raw }}
            </div>
        </article>
    {% endfor %}

{% endblock %}
