body {
    margin: 0;
    font-size: 16px;
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

/* Footer */
.primary-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #000;
    font-size: 0.8125rem;
    font-family: system-ui, sans-serif;
    color: #fff;

    a {
        color: #fff;
    }
}

.support-link {
    display: block;
    padding: .5em;
    background: #FF5E5B;
    border-radius: 5px;
    text-decoration: none;
}

/* Menus */
.menulinks,
.menurechts {
    > .unterpunkt {
        margin-bottom: 2px;
    }
}

.untermenulinks,
.untermenurechts {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.untermenulinks {
    left: 100%;
}

.untermenurechts {
    right: 100%;
}

.unterpunkt {
    position: relative;

    &:hover .untermenulinks,
    &:hover .untermenurechts {
        display: block;
    }

    > a {
        display: block;
        color: black;
        text-decoration: none;
        border: 1px black solid;
        text-align: center;
        background-image: url("/layouts/Uebergang/Oben.svg");

        &:hover {
            background-image: url("/layouts/Uebergang/Oben2.svg");
        }
    }
}

.bild,
.bild2 {
    width: 125px;
    height: 52px;
    text-align: center;
}

.bild {
    position: relative;
}

.bild2 {
    position: absolute;
}

.highlight {
    background-image: url("/layouts/Uebergang/highlight.png");
    font-weight: bold;
}

.highlight:hover {
    z-index: 2;
    background-image: url("/layouts/Uebergang/highlight2.png");
    font-weight: bold;
}

/* Frontpage News */
.frontpage-news {
    margin: 1rem 0;
    border: solid 1px rgb(0 0 0 / 25%);
    width: 42rem;
    padding: 1rem;
    background-color: rgb(255 255 255 / 15%);
}

.frontpage-news-author {
    font-weight: 700;
}

/* Spoiler */
.spoiler {
    width: 100%;
}

.spoiler-header {
    border: none;
    width: 100%;
    padding: .5em;
    background: linear-gradient(180deg, rgb(0 0 0 / 35%), rgb(0 0 0 / 15%));
    cursor: pointer;
}

.spoiler-body {
    display: none;
    padding: 1em;
    background-color: rgb(255 255 255 / 15%);
}

.spoiler.show .spoiler-body {
    display: block;
}
