<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" href="{{ asset('img/favicons/favicon-196x196.svg') }}">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>

<header class="bg-gray-100">
    <nav class="mx-auto flex max-w-7xl items-center p-6 gap-x-6">
        <a class="block font-semibold text-gray-900" href="{{ path('blog_index') }}">Blog</a>
    </nav>
</header>

{% block body %}{% endblock %}

<footer class="text-white bg-black text-center p-10">
    <p>
        © {{ "now"|date("Y") }} NarutoRPG.<br>
        All rights reserved. All trademarks are the property of their respective owners.<br>
        <a class="underline" href="https://github.com/mikaykun/narutorpg" target="_blank">GitHub</a>
    </p>
</footer>
</body>
</html>
